<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <center>
        <h1>User Registration</h1>
        <form action="/users/register" method="POST">
            <label for="name">Name: </label><br>
            <input type="text" name="name" required><br><br>
            
            <label for="email">Email: </label><br>
            <input type="email" name="email" required><br><br>

            <label for="password">Password: </label><br>
            <input type="password" name="password" required><br><br>

            <button type="submit">Register</button>
        </form><br><br>
        <a href="/users/list">View All Registered Users</a>
    </center>
</body>
</html>