body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding-top: 60px;
}

/* Make navbar fixed and smooth transition */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.4s ease; /* default slow hide */
}

.navbar.show {
  transition: top 0.1s; /* faster show */
}



.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.hero {
  background: linear-gradient(135deg, #007bff 0%, #6610f2 100%);
}

.card-title {
  font-weight: bold;
  color: #007bff;
}

/* Ensure product images are uniform */
.product-img {
  height: 200px;        /* Fixed height */
  object-fit: contain;    /* Crop image to fill area */
  object-position: center; /* Center the crop */
}
